.mainContainer {
    .formContainer {
        width: 100%;
        background: transparent linear-gradient(248deg,#303f60 0%, #1A253C 100%) 0% 0% no-repeat padding-box;
        height: 12rem;
        position: relative;
        z-index: 0;
        .jobsHeading {
            width: 80%;
            margin: 0 auto;
            h3 {
                font-size: 22px;
                font-family: 'Poppins',sans-serif;
                font-weight: 400;
                color: #fff;
                padding-top: 5rem;
                margin: -1px;
            }
        }
    }
    .jobContainer {
        background: #EDF6FF;
        height: auto;
        .allJobContainer {
            width: 80%;
            display: flex;
            margin: -50px auto 0;
            flex-wrap: wrap;
            word-wrap: break-word;
            position: relative;
            z-index: 1;
            .allJobs {
                background: #fff;
                display: flex;
                margin-bottom: 1rem;
                margin-right: 1rem;
                width: 28.5%;
                flex-direction: column;
                justify-content: left;
                padding: 1rem;
                border-radius: 10px;
                h4 {
                    letter-spacing: 0px;
                    color: #303F60;
                    font-size: 17px;
                    font-family: 'Poppins', sans-serif;
                    font-weight: 300;
                    margin: 0.5rem 0;
                }
                p {
                    letter-spacing: 0px;
                    color: #303F60;
                    font-family: 'Poppins', sans-serif;
                    font-size: 14px;
                    font-weight: 300;
                    opacity: 0.8;
                }
                .application {
                    display: flex;
                    justify-content: space-between;
                    .location {
                        color: #43afff;
                        display: flex;
                        span {
                            color: #303f60;
                            margin-bottom: 0.5rem;
                        }
                    }
                    .viewApplication {
                        width: 125px;
                        height: 32px;
                        border: 1px solid #43afff;
                        background: #43AFFF33 0% 0% no-repeat padding-box;
                        border: 1px solid #43AFFF;
                        border-radius: 5px;
                        font-size: 12px;
                        color: #303f60;
                        text-align: center;
                        font-family: 'Poppins', sans-serif;
                        font-weight: 200;
                        margin-top: 10px;
                    }
                }
            }
        }
        .noJobs {
            width: 25%;
            margin: 25% auto 10%;
            display: flex;
            text-align: center;
            justify-content: center;
            flex-direction: column;
            img {
                width: 106px;
                height: 106px;
                margin: 0 auto 1.5rem;
            }
            h4 {
                letter-spacing: 0px;
                color: #303F60;
                font-size: 20px;
                font-family: 'Poppins', sans-serif;
                font-weight: 200;
                margin: 0 auto 2rem;
            }
            a {
                text-decoration: none;
                .jobButton {
                    display: flex;
                    justify-content: center;
                    button {
                        margin-top: 0px;
                        width: 148px;
                        height: 46px;
                        background: #43afff 0% 0% no-repeat padding-box;
                        border: 1px solid #43afff;
                        border-radius: 5px;
                        font-size: 16px;
                        text-align: center;
                        letter-spacing: 0px;
                        color: #fff;
                        font-family: 'Poppins', sans-serif;
                        font-weight: 200;
                    }
        
                }
    
            }        
        }
    }
}
@media(min-width: 768px) and (max-width: 1024px)
{
    .mainContainer {
        .formContainer {
            .jobsHeading {
                width: 85%
            }
        }
        .jobContainer {
            .allJobContainer {
                width: 87%;
                .allJobs {
                    width: 42%;
                }
            }
            .noJobs {
                width: 75%;
            }
        }
    }
    .MuiPagination-root {
        width: 30% !important;
    }
}
@media(max-width: 767px)
{
    .mainContainer {
        .formContainer {
            .jobsHeading {
                width: 85%;
            }
        }
        .jobContainer {
            .allJobContainer {
                width: 90%;
                flex-direction: column;
                .allJobs {
                    width: 90%;
                    margin-right: 0rem;
                    margin-bottom: 1.5rem;
                }
            }
            .noJobs {
                width: 100%;
                h4 {
                    font-size: 16px;
                }
            }
        }
    }
    .MuiPagination-root  {
        width: 50% !important;
    }
}